.Footer {
    padding-top: 150px;
    background-color: rgb(246, 246, 255);

}

.Footer .row .logo img {
    width: 150px;
    height: auto;
    padding-bottom: 22px;
}

.Footer .row .logo p {
    letter-spacing: 0.8px;
    padding-bottom: 15px;
    width: 250px;

}

.Footer .row .logo .footercontact {
    display: flex;
    align-items: center;
    gap: 20px;
    padding-bottom: 25px;
}

.Footer .row .logo .footercontact .icon {
    font-size: 30px;
    background-color: #f17732;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    border-radius: 50% 50% 0 50%;


}

.Footer .row .logo .footercontact .icon svg {
    color: #fff;
    background-color: #f17732;
}

.Footer .row .logo .footercontact .text h6 {
    font-size: 25px;
    color: #f17732;

}

.Footer .row .logo .footercontact .text h3 {
    color: #1f2278;
}



.Footer .row h4 {
    font-size: 25px;
    font-weight: 600;
    color: #1f2278;
    padding-bottom: 20px;
}

.Footer .row ul li {
    list-style: none;
    padding: 2px;
    color: #6f6f70;
}

.Footer .row form input {
    width: 250px;
    height: 50px;
    border: none;
    outline: none;
    margin-bottom: 20px;
    background-color: #e7e8ff;
    border-radius: 10px;
    padding-left: 10px;
}


.Footer .row form button {
    width: 250px;
    height: 50px;
    border: none;
    outline: none;
    margin-bottom: 20px;
    background-color: #f17732;
    color: #fff;
    border-radius: 10px;
}

.Footer .row .socialmedia ul {
    display: flex;
    padding-top: 5px;
    gap: 10px;
}

.Footer .row .footer-buttom {
    text-align: center;
    padding: 10px 0 30px 0;
}

.Footer .row .footer-buttom span {
    color: #f17732;
}



/* Hover */


.Footer .row ul li:hover {
    color: #1f2278;
}

.Footer .row form input:hover {
    border: 1px solid #1f2278;
}

.Footer .row form button:hover {
    background-color: #e0844e;
}